DATABASE_URL=              #[name_database_for_development]
TEST_DB=                   #[name_of_database_user]
PORT=                      #[server_port]
PRIVATE_KEY=               #[your_own_defined_private_key]
cloud_name=                #[cloudinary_service_name]
api_key=                   #[cloudinary_api_key]
api_secret=                #[cloudinary_secret_key]
NODE_ENV=